html,
body,
#svelte {
	margin: 0;
    padding: 0;
	height: 100vh;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

:root * {
	box-sizing: border-box;
	margin: 0;
	--btn-shadow: rgba(0, 0, 0, 0.2) 0em 0.2em 0.2em;
}
